<!------------------------------- Test table --------------------------------->
<!--
 <table mat-table cdkDropList class="mat-elevation-z2" [dataSource]="dataSource">
  <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let miner; let i = index">
        <mat-checkbox></mat-checkbox>
      </td>
  </ng-container>
  <ng-container matColumnDef="databaseName">
      <th mat-header-cell *matHeaderCellDef>Database<br>Name</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.databaseName }}
      </td>
  </ng-container>
  <ng-container matColumnDef="ipAddress">
      <th mat-header-cell *matHeaderCellDef>IP Address</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.ipAddress }}
      </td>
  </ng-container>
  <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.type }}
      </td>
  </ng-container>
  <ng-container matColumnDef="primaryPool">
      <th mat-header-cell *matHeaderCellDef>Primary Pool</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.primaryPool }}
      </td>
  </ng-container>
  <ng-container matColumnDef="miningAddress">
      <th mat-header-cell *matHeaderCellDef>Mining Address</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.miningAddress }}
      </td>
  </ng-container>
  <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.password }}
      </td>
  </ng-container>
  <ng-container matColumnDef="hashrateRT">
      <th mat-header-cell *matHeaderCellDef>Hashrate<br>(RT)</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.hashrateRT }}
      </td>
  </ng-container>
  <ng-container matColumnDef="targetRT">
      <th mat-header-cell *matHeaderCellDef>Target HR<br>(RT)</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.targetRT }}
      </td>
  </ng-container>
  <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef>Frequency</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.frequency }}
      </td>
  </ng-container>
  <ng-container matColumnDef="chipPercent">
      <th mat-header-cell *matHeaderCellDef>Chip %</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.chipPercent | percent:".0-2" }}
      </td>
  </ng-container>
  <ng-container matColumnDef="chipTemp">
      <th mat-header-cell *matHeaderCellDef>Chip Temp</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.chipTemp | temperature:"Celsius" }}
      </td>
  </ng-container>
  <ng-container matColumnDef="uptime">
      <th mat-header-cell *matHeaderCellDef>Uptime</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.uptime | uptime }}
      </td>
  </ng-container>
  <ng-container matColumnDef="restart">
      <th mat-header-cell *matHeaderCellDef>Restart</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        <button mat-raised-button [disabled]="disabledArr[i]" (click)="disable(i)">Restart</button>
      </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table> -->

<!-- <div>
  <i class="material-icons">refresh</i>
</div> -->
<!-- TEST TABLE, VARIABLE ACCESS DIFFERENT -->
<!-- <table class="mat-elevation-z2">
  <tr class="headers">
    <th class="header">Database Name</th>
    <th class="header">IP Address</th>
    <th class="header">Type</th>
    <th class="header">Primary Pool</th>
    <th class="header">Mining Address</th>
    <th class="header">Password</th>
    <th class="header">Hashrate (RT)</th>
    <th class="header">Target HR (RT)</th>
    <th class="header">Frequency</th>
    <th class="header">Chip %</th>
    <th class="header">Chip Temp</th>
    <th class="header">Uptime</th>
    <th class="header">Restart</th>
  </tr>
  <tr *ngFor="let miner of tableData; let i = index" cdkDrag>
    <td>{{ miner.databaseName }}</td>
    <td>{{ miner.ipAddress }}</td>
    <td>{{ miner.type }}</td>
    <td>{{ miner.primaryPool }}</td>
    <td>{{ miner.miningAddress }}</td>
    <td>{{ miner.password }}</td>
    <td>{{ miner.hashrateRT }}</td>
    <td>{{ miner.targetRT }}</td>
    <td>{{ miner.frequency | frequency }}</td>
    <td>{{ miner.chipPercent | percent:"0.1" }}</td>
    <td>{{ miner.chipTemp | temperature:"Fahrenheit" }}</td>
    <td>{{ miner.uptime | uptime }}</td>
    <td><button mat-raised-button [disabled]="disabledArr[i]" (click)="disable(i)">Restart</button></td>
  </tr>
</table> -->

<table class="mat-elevation-z2">
  <tr class="headers">
    <!-- <th *ngIf="maintModeEnabled"><mat-icon class="drag-handle">swap_vertical_circle</mat-icon></th> -->
    <th><mat-checkbox [disabled]="!maintModeEnabled"></mat-checkbox></th>
    <th class="header name-cell">Name</th>
    <th class="header">IP Address</th>
    <th class="header">Type</th>
    <th class="header">Primary Pool</th>
    <th class="header">Mining Address</th>
    <th class="header">Password</th>
    <th class="header">Hashrate (RT)</th>
    <th class="header">Target HR (RT)</th>
    <th class="header">Frequency</th>
    <th class="header">Chip %</th>
    <th class="header">Chip Temp</th>
    <th class="header">Uptime</th>
    <th class="header">Restart</th>
  </tr>

  <tr *ngFor="let miner of miners; let i = index" class="row">
    <!-- <td *ngIf="maintModeEnabled" cdkDragHandle class="drag-handle"><mat-icon>open_with</mat-icon></td> -->
    <td><mat-checkbox [checked]="false" [disabled]="!maintModeEnabled"></mat-checkbox></td>
    <td class="name-cell">{{ miner.name }}</td>
    <td>{{ miner.ip }}</td>
    <td>{{ miner.type}}</td>
    <td><mat-form-field class="pool-input"><input matInput (change)="updateChangedRows(miner)" value="{{ miner.primaryPool }}" spellcheck="false"></mat-form-field></td>
    <td><mat-form-field class="address-input"><input matInput (change)="updateChangedRows(miner)" value="{{ miner.miningAddress }}" spellcheck="false"></mat-form-field></td>
    <td><mat-form-field class="password-input"><input matInput (change)="updateChangedRows(miner)" value="{{ miner.password }}" spellcheck="false"></mat-form-field></td>
    <td>{{ miner.hashrateRT }}</td>
    <td>{{ miner.targetRT }}</td>
    <td>{{ miner.frequency | frequency }}</td>
    <td>{{ miner.chipPercent | percent:"0.1" }}</td>
    <td>{{ miner.chipTemp | temperature:"Fahrenheit" }}</td>
    <td>{{ miner.uptime | uptime }}</td>
    <td><button mat-raised-button [disabled]="disabledArr[i]" (click)="disable(i)">Restart</button></td>
  </tr>
<!-- <div class="table-input"> -->
</table>

<!------------------------------- END Tst tbl --------------------------------->

<!--
<table mat-table cdkDropList class="mat-elevation-z2" [dataSource]="tableData">
  <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let miner; let i = index">
        <mat-checkbox></mat-checkbox>
      </td>
  </ng-container>
  <ng-container matColumnDef="databaseName">
      <th mat-header-cell *matHeaderCellDef>Database<br>Name</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.name }}
      </td>
  </ng-container>
  <ng-container matColumnDef="ipAddress">
      <th mat-header-cell *matHeaderCellDef>IP Address</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.ip }}
      </td>
  </ng-container>
  <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ !miner.timedOutOnLastQuery && miner.commands.stats.STATS[1]["ID"] || "" }}
      </td>
  </ng-container>
  <ng-container matColumnDef="primaryPool">
      <th mat-header-cell *matHeaderCellDef>Primary Pool</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ !miner.timedOutOnLastQuery && miner.commands.pools.POOLS[0].URL || '' }}
      </td>
  </ng-container>
  <ng-container matColumnDef="miningAddress">
      <th mat-header-cell *matHeaderCellDef>Mining Address</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ !miner.timedOutOnLastQuery && miner.commands.pools.POOLS[0].User || "" }}
      </td>
  </ng-container>
  <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        <!-- {{ miner.password }} -->
      <!-- </td>
  </ng-container>
  <ng-container matColumnDef="hashrateRT">
      <th mat-header-cell *matHeaderCellDef>Hashrate<br>(RT)</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ !miner.timedOutOnLastQuery && miner.commands.stats.STATS[1]["GHS 5s"] || "" }}
      </td>
  </ng-container>
  <ng-container matColumnDef="targetRT">
      <th mat-header-cell *matHeaderCellDef>Target HR<br>(RT)</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        N/A
      </td>
  </ng-container>
  <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef>Frequency</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        <!-- {{ !miner.timedOutOnLastQuery && miner.commands.stats.STATS[1].frequency || "" <!-- | frequency  }} -->
      <!-- </td>
  </ng-container>
  <ng-container matColumnDef="chipPercent">
      <th mat-header-cell *matHeaderCellDef>Chip %</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ !miner.timedOutOnLastQuery && miner.commands.stats.STATS[1]["Chip%"] || "" | percent:".0-2"}}
      </td>
  </ng-container>
  <ng-container matColumnDef="chipTemp">
      <th mat-header-cell *matHeaderCellDef>Chip Temp</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ miner.chipTemp | temperature:"Celsius" }} -->
        <!-- N/A
      </td>
  </ng-container>
  <ng-container matColumnDef="uptime">
      <th mat-header-cell *matHeaderCellDef>Uptime</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        {{ !miner.timedOutOnLastQuery && miner.commands.stats.STATS[1].Elapsed || "" | uptime }}
      </td>
  </ng-container>
  <ng-container matColumnDef="restart">
      <th mat-header-cell *matHeaderCellDef>Restart</th>
      <td mat-cell *matCellDef="let miner; let i = index">
        <!-- <button mat-raised-button [disabled]="disabledArr[i]" (click)="disable(i)">Restart</button> -->
        <!-- <button mat-raised-button disabled>Restart</button>
      </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table> -->
