<table matSort (matSortChange)="sortTableData($event)" class="mat-elevation-z2" [matSortActive]="defaultSort.active" [matSortDirection]="defaultSort.direction">
  <tr class="headers">
    <th><mat-checkbox [checked]="this.allSelected" [disabled]="!maintModeEnabled" (change)="selectAll($event)"></mat-checkbox></th>
    <th mat-sort-header="name" class="header name-cell">Name</th>
    <th mat-sort-header="ip" class="header">IP Address</th>
    <th mat-sort-header="type" class="header">Type</th>
    <th mat-sort-header="pool" class="header">Primary Pool</th>
    <th mat-sort-header="address" class="header">Mining Address</th>
    <th mat-sort-header="password" class="header">Password</th>
    <th mat-sort-header="hashrate" class="header">Hashrate (RT)</th>
    <th mat-sort-header="targetHR" class="header">Target HR (RT)</th>
    <th mat-sort-header="frequency" class="header">Frequency</th>
    <th mat-sort-header="chipPercent" class="header">Chip %</th>
    <th mat-sort-header="temp" class="header">Chip Temp</th>
    <th mat-sort-header="uptime" class="header">Uptime</th>
    <th class="header">Restart</th>
  </tr>

  <tr *ngFor="let miner of miners; let i = index" class="row">
    <td><mat-checkbox [checked]="miner.selected" [disabled]="!maintModeEnabled" (change)="updateSelectedRows(miner, i, $event)"></mat-checkbox></td>
    <td class="name-cell">{{ miner.name }}</td>
    <td>{{ miner.ip }}</td>
    <td>{{ miner.type}}</td>
    <td><mat-form-field class="pool-input"><input matInput #pool (change)="updateChangedRows(miner, pool.value, address.value, password.value)" value="{{ miner.primaryPool }}" spellcheck="false"></mat-form-field></td>
    <td><mat-form-field class="address-input"><input matInput #address (change)="updateChangedRows(miner, pool.value, address.value, password.value)" value="{{ miner.miningAddress }}" spellcheck="false"></mat-form-field></td>
    <td><mat-form-field class="password-input"><input matInput #password (change)="updateChangedRows(miner, pool.value, address.value, password.value)" value="{{ miner.password }}" spellcheck="false"></mat-form-field></td>
    <td>{{ miner.hashrateRT }}</td>
    <td>{{ miner.targetRT }}</td>
    <td>{{ miner.frequency | frequency }}</td>
    <td [attr.bgcolor]="miner.belowThreshold ? '#ff4d4d' : ''">{{ miner.chipPercent | percent:"0.1" }}</td>
    <td>{{ miner.chipTemps | temperature:"Celsius" }}</td>
    <td>{{ miner.uptime | uptime }}</td>
    <td><button mat-raised-button [disabled]="disabledArr[i]" (click)="restartMiner(miner)">Restart</button></td>
  </tr>
</table>
