<% include partials/header %>

<h1>Index</h1>
<p><a href="miners">Go to miner dashboard</a></p>
<p><a href="whattomine">Go to WhatToMine profitability calculator</a></p>
<% include partials/footer %>
