<% include partials/header %>
<h1>Remove miner by name</h1>

<form action="/miners/remove" method="POST">
  Name: <input type="text" name="name" placeholder="Name (e.g. My AntMiner)">
  <button type="submit">Submit</button>
</form>

<p><a href="/miners">Go back</a></p>




<% include partials/footer %>
