.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

mat-toolbar {
  min-height: 55px;
  height: 55px;
}

div {
  width: 100vw;
}

.login {
  max-width: 50px;
  width: 50px;
}
