<div class="fixed-sidebar mat-elevation-z4">
  <div class="sidebar-item">
      <a href="#" mat-button fxFlex fxLayoutAlign="center center"><i class="material-icons">view_headline</i> Dashboard</a>
  </div>
  <div class="sidebar-item">
      <a href="#" mat-button fxFlex fxLayoutAlign="center center"><i class="material-icons">equalizer</i> Analytics</a>
  </div>
  <div class="sidebar-item">
      <a href="#" mat-button fxFlex fxLayoutAlign="center center"><i class="material-icons">local_offer</i> WhatToMine</a>
  </div>
  <div class="sidebar-item">
      <a href="#" mat-button fxFlex fxLayoutAlign="center center"><i class="material-icons">settings</i> Settings</a>
  </div>
</div>
